<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <connectionStrings>
        <add connectionString="server=localhost;uid=accelerateUqics;pwd=&quot;j?AyU#W+6=m}&quot;;Database=accelerate999" name="accelerate999" providerName="MySql.Data.MySqlClient" />
    </connectionStrings>
</configuration>
